@import url("https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Taviraj", serif;
}

header {
  position: fixed;
  width: 100%;
}
header .container {
  width: 100%;
  margin: 0 auto;
}
header .container nav {
  padding: 36px 50px;
  display: flex;
  justify-content: space-between;
}
header .container nav .left {
  display: flex;
  align-items: center;
}
header .container nav .left .logo {
  padding-right: 50px;
}
header .container nav .left .logo a {
  display: flex;
  align-items: center;
}
header .container nav .left .list {
  display: flex;
  justify-content: center;
  gap: 36px;
}
header .container nav .left .list li {
  list-style: none;
  position: relative;
}
header .container nav .left .list li a {
  text-transform: uppercase;
  color: #4e4e4e;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
}
header .container nav .left .list li a:hover, header .container nav .left .list li a.active {
  color: #146c94;
}
header .container nav .left .list li a.active:before, header .container nav .left .list li a:hover:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 24px;
  height: 2px;
  border-radius: 2px;
  background: #146c94;
}
header .container nav .right {
  display: flex;
  align-items: center;
}
header .container nav .right .search {
  padding-right: 24.5px;
  display: flex;
  align-items: center;
}
header .container nav .right .search input {
  visibility: hidden;
  opacity: 0;
  outline: none;
  border: none;
  z-index: 999;
}
header .container nav .right .search input::-moz-placeholder {
  color: #bcbcbc;
}
header .container nav .right .search input::placeholder {
  color: #bcbcbc;
}
header .container nav .right .search input.active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 26px 50px;
  visibility: visible;
  opacity: 1;
  background: #fff;
  color: #bcbcbc;
  font-size: 20px;
  font-weight: 400;
}
header .container nav .right .search #search-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
}
header .container nav .right .search #close-btn {
  display: none;
}
header .container nav .right .search #close-btn.active {
  display: block;
  position: absolute;
  top: 43px;
  right: 50px;
  transform: translateY(-50%);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container nav .right .line {
  display: flex;
}
header .container nav .right .line svg path {
  stroke: #4e4e4e;
}
header .container nav .right .lang {
  padding-left: 24.5px;
}
header .container nav .right .lang button {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  gap: 4px;
}
header .container nav .right .lang button svg path {
  stroke: #4e4e4e;
}
header .container nav .right .lang button span {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  height: 20px;
}
header .container nav .right .burger-menu {
  display: none;
}
header .container nav .right .mobile-list {
  display: none;
}
header .container .social {
  position: absolute;
  top: 366px;
  left: 54px;
  display: flex;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  list-style: none;
  gap: 50px;
}
header .container .social li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #bcbcbc;
  font-size: 12px;
  font-weight: 400;
}
header .container .social li a:hover {
  color: #4e4e4e;
}
@media (max-width: 1200px) {
  header .container .social {
    display: none;
  }
}
@media (max-width: 991px) {
  header .container nav {
    padding: 24px;
  }
  header .container nav .left .list {
    display: none;
  }
  header .container nav .right {
    gap: 20px;
  }
  header .container nav .right .search {
    display: none;
  }
  header .container nav .right .line {
    display: none;
  }
  header .container nav .right .lang button {
    align-items: center;
  }
  header .container nav .right .burger-menu {
    display: block;
    width: 20px;
  }
  header .container nav .right .burger-menu .burger-btn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
  }
  header .container nav .right .burger-menu .burger-btn.active {
    display: none;
  }
  header .container nav .right .burger-menu .burger-btn svg {
    width: 20px;
    height: 14px;
  }
  header .container nav .right .burger-menu .close-btn {
    display: none;
    background: none;
    border: none;
  }
  header .container nav .right .burger-menu .close-btn.active {
    display: inline-block;
    display: flex;
    align-items: center;
  }
  header .container nav .right .burger-menu .close-btn svg {
    width: 16px;
    height: 16px;
  }
  header .container nav .right .mobile-list {
    display: block;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    padding: 102px 0 0 24px;
    background: linear-gradient(172deg, #fff 6.13%, #dfedf6 154.2%);
    display: flex;
    position: absolute;
    transition: 0.3s;
    z-index: -1;
  }
  header .container nav .right .mobile-list .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
  header .container nav .right .mobile-list .list li a {
    color: #4e4e4e;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
  }
  header .container nav .right .mobile-list .list li a:hover, header .container nav .right .mobile-list .list li a.active {
    color: #146c94;
  }
  header .container nav .right .mobile-list .list li a.active:before, header .container nav .right .mobile-list .list li a:hover:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 24px;
    height: 2px;
    border-radius: 2px;
    background: #146c94;
  }
  header .container nav .right .mobile-list.active {
    left: 0;
  }
}

.header-scrolled {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.vacancy-one {
  background-image: url("../assets/images/vacancyimages/Rectangle45.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vacancy-one h2 {
  color: #4e4e4e;
  font-size: 36px;
  font-weight: 600;
}
@media (max-width: 991px) {
  .vacancy-one h2 {
    font-size: 28px;
  }
}
@media (max-width: 375px) {
  .vacancy-one h2 {
    font-size: 24px;
  }
}

.vacancy-two {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}
.vacancy-two .container {
  max-width: 971px;
  width: 100%;
}
.vacancy-two .container .vacancy-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 50px;
  border-radius: 10px;
  background: #f7fbf8;
  box-shadow: 0px 4px 16px 0px rgba(123, 126, 115, 0.11);
}
.vacancy-two .container .vacancy-box .vacancy-info a {
  text-decoration: none;
  display: block;
  color: #4e4e4e;
  font-size: 20px;
  font-weight: 700;
  transition: 0.2s;
}
.vacancy-two .container .vacancy-box .vacancy-info a:hover {
  color: #1597ba;
  text-decoration: underline;
}
.vacancy-two .container .vacancy-box .vacancy-info span {
  display: inline-block;
  color: #8f8f8f;
  font-size: 12px;
  font-weight: 400;
  padding: 12px 0;
}
.vacancy-two .container .vacancy-box .vacancy-info p {
  color: #4e4e4e;
  font-size: 13px;
  font-weight: 400;
}
@media (max-width: 567px) {
  .vacancy-two {
    padding: 50px 0;
  }
  .vacancy-two .container .vacancy-box {
    padding: 36px 24px;
  }
  .vacancy-two .container .vacancy-box .vacancy-info a {
    font-size: 18px;
  }
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 50px;
  padding: 0 0 36px;
}
footer ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #bcbcbc;
  font-size: 12px;
  font-weight: 400;
}
footer ul li a:hover {
  color: #4e4e4e;
}
@media (max-width: 991px) {
  footer {
    border-top: 1px solid #e8eaef;
  }
  footer ul {
    padding: 36px 0;
  }
}/*# sourceMappingURL=vacancy.css.map */