@import url("https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Taviraj", serif;
}

header {
  position: fixed;
  width: 100%;
}
header .container {
  width: 100%;
  margin: 0 auto;
}
header .container nav {
  padding: 36px 50px;
  display: flex;
  justify-content: space-between;
}
header .container nav .left {
  display: flex;
  align-items: center;
}
header .container nav .left .logo {
  padding-right: 50px;
}
header .container nav .left .logo a {
  display: flex;
  align-items: center;
}
header .container nav .left .list {
  display: flex;
  justify-content: center;
  gap: 36px;
}
header .container nav .left .list li {
  list-style: none;
  position: relative;
}
header .container nav .left .list li a {
  text-transform: uppercase;
  color: #4e4e4e;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
}
header .container nav .left .list li a:hover {
  color: #146c94;
}
header .container nav .left .list li a:hover:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 24px;
  height: 2px;
  border-radius: 2px;
  background: #146c94;
  color: #146c94;
}
header .container nav .right {
  display: flex;
  align-items: center;
}
header .container nav .right .search {
  padding-right: 24.5px;
  display: flex;
  align-items: center;
}
header .container nav .right .search input {
  visibility: hidden;
  opacity: 0;
  outline: none;
  border: none;
  z-index: 999;
}
header .container nav .right .search input::-moz-placeholder {
  color: #bcbcbc;
}
header .container nav .right .search input::placeholder {
  color: #bcbcbc;
}
header .container nav .right .search input.active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 26px 50px;
  visibility: visible;
  opacity: 1;
  background: #fff;
  color: #bcbcbc;
  font-size: 20px;
  font-weight: 400;
}
header .container nav .right .search #search-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
}
header .container nav .right .search #close-btn {
  display: none;
}
header .container nav .right .search #close-btn.active {
  display: block;
  position: absolute;
  top: 43px;
  right: 50px;
  transform: translateY(-50%);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container nav .right .line {
  display: flex;
}
header .container nav .right .line svg path {
  stroke: #4e4e4e;
}
header .container nav .right .lang {
  padding-left: 24.5px;
}
header .container nav .right .lang button {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  gap: 4px;
}
header .container nav .right .lang button svg path {
  stroke: #4e4e4e;
}
header .container nav .right .lang button span {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  height: 20px;
}
header .container nav .right .burger-menu {
  display: none;
}
header .container nav .right .mobile-list {
  display: none;
}
header .container .social {
  position: absolute;
  top: 366px;
  left: 54px;
  display: flex;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  list-style: none;
  gap: 50px;
}
header .container .social li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #bcbcbc;
  font-size: 12px;
  font-weight: 400;
}
header .container .social li a:hover {
  color: #4e4e4e;
}
@media (max-width: 1200px) {
  header .container .social {
    display: none;
  }
}
@media (max-width: 991px) {
  header .container nav {
    padding: 24px;
  }
  header .container nav .left .list {
    display: none;
  }
  header .container nav .right {
    gap: 20px;
  }
  header .container nav .right .search {
    display: none;
  }
  header .container nav .right .line {
    display: none;
  }
  header .container nav .right .lang button {
    align-items: center;
  }
  header .container nav .right .burger-menu {
    display: block;
    width: 20px;
  }
  header .container nav .right .burger-menu .burger-btn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
  }
  header .container nav .right .burger-menu .burger-btn.active {
    display: none;
  }
  header .container nav .right .burger-menu .burger-btn svg {
    width: 20px;
    height: 14px;
  }
  header .container nav .right .burger-menu .close-btn {
    display: none;
    background: none;
    border: none;
  }
  header .container nav .right .burger-menu .close-btn.active {
    display: inline-block;
    display: flex;
    align-items: center;
  }
  header .container nav .right .burger-menu .close-btn svg {
    width: 16px;
    height: 16px;
  }
  header .container nav .right .mobile-list {
    display: block;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    padding: 102px 0 0 24px;
    background: linear-gradient(172deg, #fff 6.13%, #dfedf6 154.2%);
    display: flex;
    position: absolute;
    transition: 0.3s;
    z-index: -1;
  }
  header .container nav .right .mobile-list .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
  header .container nav .right .mobile-list .list li a {
    color: #4e4e4e;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
  }
  header .container nav .right .mobile-list.active {
    left: 0;
  }
}

.header-scrolled {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.about-one {
  background-image: url("../assets/images/aboutimages/Rectangle 45.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-one h2 {
  color: #4e4e4e;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .about-one h2 {
    font-size: 28px;
  }
}
@media (max-width: 375px) {
  .about-one h2 {
    font-size: 24px;
  }
}

.about-two {
  padding: 150px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-two .container {
  max-width: 971px;
  width: 100%;
}
.about-two .container .info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-two .container .info h3 {
  color: #3d3d3d;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 12px;
}
.about-two .container .info p {
  color: #a3a3a3;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 50px;
}
@media (max-width: 991px) {
  .about-two {
    padding: 120px 25px;
  }
  .about-two .container .info h3 {
    font-size: 20px;
    text-align: center;
  }
}
@media (max-width: 991px) and (max-width: 375px) {
  .about-two {
    padding: 50px 25px 120px;
  }
  .about-two .container .info h3 {
    font-size: 16px;
    text-align: center;
  }
}

.about-three {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-three .container {
  max-width: 971px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.about-three .container .leftBox {
  width: 45%;
  position: relative;
  position: relative;
}
.about-three .container .leftBox img {
  max-width: 100%;
  height: auto;
}
.about-three .container .leftBox img:first-child {
  position: absolute;
  left: 100px;
  top: 0;
}
.about-three .container .leftBox img:last-child {
  position: absolute;
  top: 100px;
  left: 0;
}
.about-three .container .rightBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 55%;
  padding-top: 121px;
}
.about-three .container .rightBox h3 {
  color: #3d3d3d;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.about-three .container .rightBox p {
  color: #a3a3a3;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 24px;
}
.about-three .container .rightBox a {
  text-decoration: none;
  color: #19a7ce;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 991px) {
  .about-three {
    padding: 0 25px;
  }
  .about-three .container {
    flex-direction: column;
    align-items: center;
  }
  .about-three .container .leftBox {
    width: 100%;
    position: relative;
  }
  .about-three .container .leftBox img {
    max-width: 100%;
    height: auto;
  }
  .about-three .container .leftBox img:first-child {
    position: relative;
    left: 100px;
    top: 0;
  }
  .about-three .container .leftBox img:last-child {
    position: absolute;
    top: 100px;
    left: 0;
  }
  .about-three .container .rightBox {
    width: 100%;
    padding-top: 100px;
  }
  .about-three .container .rightBox h3 {
    font-size: 20px;
  }
}
@media (max-width: 577px) {
  .about-three .container .leftBox {
    height: 100%;
  }
  .about-three .container .leftBox img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about-three .container .leftBox img:first-child {
    left: 44px;
    top: 0;
    width: 147px;
    height: 183.75px;
  }
  .about-three .container .leftBox img:last-child {
    top: 50px;
    left: -4px;
    width: 105px;
    height: 157.5px;
  }
  .about-three .container .rightBox {
    padding-top: 50px;
  }
}
@media (max-width: 375px) {
  .about-three .container .leftBox img:first-child {
    left: 48px;
    top: 0;
  }
  .about-three .container .leftBox img:last-child {
    top: 50px;
    left: 0;
  }
  .about-three .container .rightBox h3 {
    font-size: 16px;
  }
}

.about-four {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 270px 0 150px;
}
.about-four .container {
  max-width: 971px;
  width: 100%;
}
.about-four .container .title {
  text-align: center;
}
.about-four .container .title h3 {
  color: #3d3d3d;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  padding-bottom: 12px;
}
.about-four .container .title p {
  color: #a3a3a3;
  font-size: 13px;
  font-weight: 500;
  padding-bottom: 50px;
}
.about-four .container .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 36px;
}
.about-four .container .cards .card {
  width: 299px;
  height: 215px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(123, 126, 115, 0.11);
}
.about-four .container .cards .card .usersImg,
.about-four .container .cards .card .shieldImg,
.about-four .container .cards .card .locationImg {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 16px;
}
.about-four .container .cards .card .usersImg {
  background: #f3f3ff;
}
.about-four .container .cards .card .shieldImg {
  background: #fff0e5;
}
.about-four .container .cards .card .locationImg {
  background: #eef9e8;
}
.about-four .container .cards .card p {
  color: #3d3d3d;
  font-size: 16px;
  font-weight: 500;
}
.about-four .container .cards .card p span {
  color: #3d3d3d;
  font-size: 32px;
  font-weight: 500;
}
.about-four .container .cards .card .text {
  color: #a3a3a3;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 991px) {
  .about-four {
    padding: 120px 25px;
  }
  .about-four .container .title h3 {
    font-size: 20px;
  }
  .about-four .container .title p {
    padding-bottom: 36px;
  }
}
@media (max-width: 375px) {
  .about-four .container .title h3 {
    font-size: 16px;
  }
  .about-four .container .cards {
    gap: 24px;
  }
}

.about-five {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-five .container {
  max-width: 971px;
  width: 100%;
  display: flex;
}
.about-five .container .left-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 55%;
  padding-top: 121px;
}
.about-five .container .left-box h3 {
  color: #3d3d3d;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.about-five .container .left-box p {
  color: #a3a3a3;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 24px;
}
.about-five .container .left-box a {
  text-decoration: none;
  color: #19a7ce;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 12px;
}
.about-five .container .right-box {
  position: relative;
  width: 45%;
  text-align: right;
}
.about-five .container .right-box img:first-child {
  position: absolute;
  right: 100px;
  top: 0;
}
.about-five .container .right-box img:last-child {
  position: absolute;
  top: 100px;
  right: 0;
}
@media (max-width: 991px) {
  .about-five {
    padding: 0 25px;
  }
  .about-five .container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .about-five .container .left-box {
    width: 100%;
    padding-top: 100px;
  }
  .about-five .container .left-box h3 {
    font-size: 20px;
  }
  .about-five .container .right-box {
    width: 100%;
    position: relative;
  }
  .about-five .container .right-box img:first-child {
    position: relative;
    left: 125px;
    top: 0;
  }
  .about-five .container .right-box img:last-child {
    position: relative;
    top: 55px;
    left: 0;
  }
}
@media (max-width: 577px) {
  .about-five .container .left-box {
    padding-top: 50px;
  }
  .about-five .container .right-box img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about-five .container .right-box img:first-child {
    position: relative;
    left: 65px;
    top: 0;
    width: 147px;
    height: 183.75px;
  }
  .about-five .container .right-box img:last-child {
    position: relative;
    top: 22px;
    left: 5px;
    width: 105px;
    height: 157.5px;
  }
}
@media (max-width: 375px) {
  .about-five .container .left-box h3 {
    font-size: 16px;
  }
}

footer {
  padding-top: 220px;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 50px;
  padding: 36px 0;
}
footer ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #bcbcbc;
  font-size: 12px;
  font-weight: 400;
}
footer ul li a:hover {
  color: #4e4e4e;
}
@media (max-width: 991px) {
  footer {
    padding-top: 50px;
  }
}/*# sourceMappingURL=about.css.map */