@import url("https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Taviraj", serif;
}

header {
  position: fixed;
  width: 100%;

  .container {
    width: 100%;
    margin: 0 auto;

    nav {
      padding: 36px 50px;
      display: flex;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;

        .logo {
          padding-right: 50px;

          a {
            display: flex;
            align-items: center;
          }
        }

        .list {
          display: flex;
          justify-content: center;
          gap: 36px;

          li {
            list-style: none;
            position: relative;

            a {
              text-transform: uppercase;
              color: #4e4e4e;
              font-size: 13px;
              font-weight: 500;
              text-decoration: none;

              &:hover {
                color: #146c94;
              }

              &:hover:before {
                content: "";
                position: absolute;
                bottom: 0;
                width: 24px;
                height: 2px;
                border-radius: 2px;
                background: #146c94;
                color: #146c94;
              }
            }
          }
        }
      }

      .right {
        display: flex;
        align-items: center;

        .search {
          padding-right: 24.5px;
          display: flex;
          align-items: center;

          input {
            visibility: hidden;
            opacity: 0;
            outline: none;
            border: none;
            z-index: 999;

            &::placeholder {
              color: #bcbcbc;
            }
          }

          input.active {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 26px 50px;
            visibility: visible;
            opacity: 1;
            background: #fff;
            color: #bcbcbc;
            font-size: 20px;
            font-weight: 400;
          }

          #search-btn {
            cursor: pointer;
            display: flex;
            align-items: center;
          }

          #close-btn {
            display: none;

            &.active {
              display: block;
              position: absolute;
              top: 43px;
              right: 50px;
              transform: translateY(-50%);
              z-index: 999;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }

        .line {
          display: flex;

          svg path {
            stroke: #4e4e4e;
          }
        }

        .lang {
          padding-left: 24.5px;

          button {
            border: none;
            background: transparent;
            cursor: pointer;
            display: flex;
            gap: 4px;

            svg path {
              stroke: #4e4e4e;
            }

            span {
              font-size: 13px;
              font-weight: 400;
              text-transform: uppercase;
              height: 20px;
            }
          }
        }

        .burger-menu {
          display: none;
        }

        .mobile-list {
          display: none;
        }
      }
    }

    .social {
      position: absolute;
      top: 366px;
      left: 54px;
      display: flex;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      list-style: none;
      gap: 50px;

      li {
        a {
          text-decoration: none;
          text-transform: uppercase;
          color: #bcbcbc;
          font-size: 12px;
          font-weight: 400;

          &:hover {
            color: #4e4e4e;
          }
        }
      }
    }
  }

  // Responsive
  @media (max-width: 1200px) {
    .container {
      .social {
        display: none;
      }
    }
  }

  @media (max-width: 991px) {
    .container {
      nav {
        padding: 24px;

        .left {
          .list {
            display: none;
          }
        }
        .right {
          gap: 20px;
          .search {
            display: none;
          }

          .line {
            display: none;
          }

          .lang {
            button {
              align-items: center;
            }
          }

          .burger-menu {
            display: block;
            width: 20px;
            .burger-btn {
              background: none;
              border: none;
              display: flex;
              align-items: center;

              &.active {
                display: none;
              }

              svg {
                width: 20px;
                height: 14px;
              }
            }

            .close-btn {
              display: none;
              background: none;
              border: none;

              &.active {
                display: inline-block;
                display: flex;
                align-items: center;
              }

              svg {
                width: 16px;
                height: 16px;
              }
            }
          }

          .mobile-list {
            display: block;
            top: 0;
            left: 100%;
            width: 100%;
            height: 100vh;
            padding: 102px 0 0 24px;
            background: linear-gradient(172deg, #fff 6.13%, #dfedf6 154.2%);
            display: flex;
            position: absolute;
            transition: 0.3s;
            z-index: -1;

            .list {
              list-style: none;
              display: flex;
              flex-direction: column;
              gap: 36px;

              li {
                a {
                  color: #4e4e4e;
                  font-size: 16px;
                  font-weight: 500;
                  text-decoration: none;
                  text-transform: uppercase;
                }
              }
            }

            &.active {
              left: 0;
            }
          }
        }
      }
    }
  }
}

.header-scrolled {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.about-one {
  background-image: url("../assets/images/aboutimages/Rectangle\ 45.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
  }

  @media (max-width: 991px) {
    h2 {
      font-size: 28px;
    }
  }

  @media (max-width: 375px) {
    h2 {
      font-size: 24px;
    }
  }
}

.about-two {
  padding: 150px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    max-width: 971px;
    width: 100%;

    .info {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h3 {
        color: #3d3d3d;
        font-size: 24px;
        font-weight: 500;
        text-transform: capitalize;
        margin-bottom: 12px;
      }

      p {
        color: #a3a3a3;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 50px;
      }
    }
  }

  @media (max-width: 991px) {
    & {
      padding: 120px 25px;
      .container {
        .info {
          h3 {
            font-size: 20px;
            text-align: center;
          }
        }
      }
    }
    @media (max-width: 375px) {
      & {
        padding: 50px 25px 120px;
        .container {
          .info {
            h3 {
              font-size: 16px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.about-three {
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    max-width: 971px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .leftBox {
      width: 45%;
      position: relative;

      position: relative;
      img {
        max-width: 100%;
        height: auto;
        &:first-child {
          position: absolute;
          left: 100px;
          top: 0;
        }

        &:last-child {
          position: absolute;
          top: 100px;
          left: 0;
        }
      }
    }

    .rightBox {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 55%;
      padding-top: 121px;

      h3 {
        color: #3d3d3d;
        font-size: 24px;
        font-weight: 500;
        text-transform: capitalize;
        margin-bottom: 8px;
      }

      p {
        color: #a3a3a3;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 24px;
      }

      a {
        text-decoration: none;
        color: #19a7ce;
        font-size: 12px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }
  }

  @media (max-width: 991px) {
    & {
      padding: 0 25px;
      .container {
        flex-direction: column;
        align-items: center;

        .leftBox {
          width: 100%;
          position: relative;

          img {
            max-width: 100%;
            height: auto;
            &:first-child {
              position: relative;
              left: 100px;
              top: 0;
            }

            &:last-child {
              position: absolute;
              top: 100px;
              left: 0;
            }
          }
        }

        .rightBox {
          width: 100%;
          padding-top: 100px;

          h3 {
            font-size: 20px;
          }
        }
      }
    }
  }

  @media (max-width: 577px) {
    & {
      .container {
        .leftBox {
          height: 100%;
          img {
            object-fit: cover;
            &:first-child {
              left: 44px;
              top: 0;
              width: 147px;
              height: 183.75px;
            }

            &:last-child {
              top: 50px;
              left: -4px;
              width: 105px;
              height: 157.5px;
            }
          }
        }
        .rightBox {
          padding-top: 50px;
        }
      }
    }
  }

  @media (max-width: 375px) {
    & {
      .container {
        .leftBox {
          img {
            &:first-child {
              left: 48px;
              top: 0;
            }

            &:last-child {
              top: 50px;
              left: 0;
            }
          }
        }
        .rightBox {
          h3 {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.about-four {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 270px 0 150px;

  .container {
    max-width: 971px;
    width: 100%;

    .title {
      text-align: center;

      h3 {
        color: #3d3d3d;
        font-size: 24px;
        font-weight: 500;
        text-transform: capitalize;
        padding-bottom: 12px;
      }

      p {
        color: #a3a3a3;
        font-size: 13px;
        font-weight: 500;
        padding-bottom: 50px;
      }
    }

    .cards {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 36px;

      .card {
        width: 299px;
        height: 215px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0px 4px 10px 0px rgba(123, 126, 115, 0.11);

        .usersImg,
        .shieldImg,
        .locationImg {
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          margin-bottom: 16px;
        }

        .usersImg {
          background: #f3f3ff;
        }

        .shieldImg {
          background: #fff0e5;
        }

        .locationImg {
          background: #eef9e8;
        }

        p {
          color: #3d3d3d;
          font-size: 16px;
          font-weight: 500;
          span {
            color: #3d3d3d;
            font-size: 32px;
            font-weight: 500;
          }
        }

        .text {
          color: #a3a3a3;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }

  @media (max-width: 991px) {
    & {
      padding: 120px 25px;
      .container {
        .title {
          h3 {
            font-size: 20px;
          }
          p {
            padding-bottom: 36px;
          }
        }
      }
    }
  }

  @media (max-width: 375px) {
    & {
      .container {
        .title {
          h3 {
            font-size: 16px;
          }
        }

        .cards {
          gap: 24px;
        }
      }
    }
  }
}

.about-five {
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    max-width: 971px;
    width: 100%;
    display: flex;

    .left-box {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 55%;
      padding-top: 121px;

      h3 {
        color: #3d3d3d;
        font-size: 24px;
        font-weight: 500;
        text-transform: capitalize;
        margin-bottom: 8px;
      }

      p {
        color: #a3a3a3;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 24px;
      }

      a {
        text-decoration: none;
        color: #19a7ce;
        font-size: 12px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }

    .right-box {
      position: relative;
      width: 45%;
      text-align: right;

      img {
        &:first-child {
          position: absolute;
          right: 100px;
          top: 0;
        }

        &:last-child {
          position: absolute;
          top: 100px;
          right: 0;
        }
      }
    }
  }

  @media (max-width: 991px) {
    & {
      padding: 0 25px;
      .container {
        flex-direction: column-reverse;
        align-items: center;

        .left-box {
          width: 100%;
          padding-top: 100px;

          h3 {
            font-size: 20px;
          }
        }

        .right-box {
          width: 100%;
          position: relative;

          img {
            &:first-child {
              position: relative;
              left: 125px;
              top: 0;
            }

            &:last-child {
              position: relative;
              top: 55px;
              left: 0;
            }
          }
        }
      }
    }
  }

  @media (max-width: 577px) {
    & {
      .container {
        .left-box {
          padding-top: 50px;
        }
        .right-box {
          img {
            object-fit: cover;
            &:first-child {
              position: relative;
              left: 65px;
              top: 0;
              width: 147px;
              height: 183.75px;
            }

            &:last-child {
              position: relative;
              top: 22px;
              left: 5px;
              width: 105px;
              height: 157.5px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 375px) {
    & {
      .container {
        .left-box {
          h3 {
            font-size: 16px;
          }
        }
      }
    }
  }
}

footer {
  padding-top: 220px;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 50px;
    padding: 36px 0;

    li {
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #bcbcbc;
        font-size: 12px;
        font-weight: 400;

        &:hover {
          color: #4e4e4e;
        }
      }
    }
  }

  @media (max-width: 991px) {
    & {
      padding-top: 50px;
    }
  }
}
